<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">
    
    <form class="form-inline global-search" role="form">
        <div class="form-group">
            <label class="sr-only" for="">Enter search terms</label>
            <input type="search" class="form-control" id="k" name="k" placeholder="Enter search terms">
            <input id="cn" name="cn" type="hidden" value="false" />
        </div>
        <button type="submit" id="s" class="btn flora-btn"><span class="glyphicon glyphicon-search"></span></button>

    </form>
    
    <div class="col-md-12">
        <div class="carousel slide mini-carousel" id="miniCarousel">
          <div class="carousel-inner">
            {foreach $dataImage as $get}
              {if $get@first}
                <div class="item active">
              {else}
                <div class="item">
              {/if}
                <div class="col-md-2"><a href="{$basedomain}browse/indivDetail/?id={$get->indivID}"><img src="{$peerkalbar_domain}public_assets/img/500px/{$get->md5sum}.500px.jpg" class="img-responsive"></a></div>
              </div>
            {/foreach}
            </div>
          </div>
          <a class="left carousel-control" href="#miniCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
          <a class="right carousel-control" href="#miniCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
    </div>

</div><!-- /.container -->