{if $page.page=='picture_book'}
	<body>
		{$content}
	</body> 
	</html>

{else}
	{include file="template/meta.html"}
	<body>
		<!-- RUNNING GLOBAL VAR -->
		<script>
			var basedomain = "{$basedomain}";
		</script>
		
	    {if $page.page=='home'}
	    <!-- NAVBAR INDEX -->
	    {include file="template/navbar_default.html"}
	    
	    <!-- CAROUSEL INDEX -->
	    {include file="template/carousel.html"}
	    
	    
	    {else}
	    <!-- HEADER DEFAULT -->
	    {include file="template/header.html"}
	    
	    <!-- NAVBAR DEFAULT -->
	    {include file="template/navbar_default.html"}
	    {/if}
	    
		
		
		<!-- CONTENT -->
		{$content}
		
		<!-- FOOTER -->
	    {include file="template/footer.html"}
		
	</body> 
	</html>
{/if}