<header id="header">

		<h2 id="site-logo">
			<a href="{$appdomain}" style="color: #FFF; text-decoration: none;" target="_blank">
				FLORA <span style="color: #00ADBB;">KALBAR</span>
			</a>
		</h2>	

		<a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
			<i class="fa fa-cog"></i>
		</a>

		<a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
			<i class="fa fa-reorder"></i>
		</a>

</header> <!-- header -->