<script>
$(function () {
	$('#postdate').datepicker ();
	
	$('.agenda_date').datetimepicker (
        {
            use24hours: true,
            format: 'DD-MM-YYYY HH:mm',
            minuteStepping:5
        }
    );
	
	$("#isi").jqte();
	
	$('input:checkbox, input:radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		inheritClass: true
	})
})
</script>

<div id="content-header">
	<h1>Add Event</h1>
</div> <!-- #content-header -->	

<div id="content-container">
	<form id="validate-enhanced" class="form parsley-form" method="post" action="{$basedomain}digirepo/do_addEvent" enctype="multipart/form-data">

		<div class="row">
			<div class="col-md-9">
				<div class="portlet">
				
					<div class="portlet-header">

						<h3>
							<i class="fa fa-tasks"></i>
							Form Event
						</h3>

					</div> <!-- /.portlet-header -->
				
					<div class="portlet-content">
				
						<div class="col-sm-12">
							<div class="form-group">
                                <label for="text-input">Title</label>
                                <input type="text" name="title" class="form-control" value="{$data.title}" data-required="true"/>
							</div>
						</div>
						
						<div class="col-sm-12">
							<div class="form-group">
							<label for="text-input">Place</label>
							<input type="text" name="place" class="form-control" value="{$data.place}" />
							</div>
							<!-- hidden -->
								<input type="hidden" name="id" value="{$data.id}" />
								<input type="hidden" name="authorid" value="{$admin.id}" />
							<!-- hidden -->
						</div>

						<div class="col-sm-6">
                            <div class="form-group">
    							<label for="select-input">Start Date</label>
    							<div id="start_date" class="input-group date agenda_date" data-auto-close="true" data-date-autoclose="true">
    								<input class="form-control agenda_date" type="text" name="start_date" value="{$data.start_date}" data-required="true" />
    								<span class="input-group-addon date_icon_postdate"><i class="fa fa-calendar"></i></span>
                                    
    							</div>
    							
    						</div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group">
    							<label for="select-input">End Date</label>
    							<div id="end_date" class="input-group date agenda_date" data-auto-close="true" data-date-autoclose="true">
    								<input class="form-control agenda_date" type="text" name="end_date" value="{$data.end_date}" data-required="true" />
    								<span class="input-group-addon date_icon_expired_date"><i class="fa fa-calendar"></i></span>
                                    
    							</div>
    							
    						</div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-group">
    							<label for="select-input">Postdate</label>
    							<div id="postdate" class="input-group date" data-auto-close="true" data-date-format="dd-mm-yyyy" data-date-autoclose="true">
    								<input class="form-control" type="text" name="postdate" value="{$data.created_date}" data-required="true">
    								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    							</div>
    							
    						</div>
    						
    						<div class="form-group">
    								<div class="checkbox">
    									<label>
    										<input type="checkbox" name="n_status" class="" {$data.n_status} >
    										Publish
    									</label>
    								</div>
    						</div>
    						
    						<input type="submit" class="btn btn-primary" value="Submit" id="submit" />
                        </div>                        
                                                                                                                        
					</div>
				</div>
                                
			</div>
		</div>
	
	</form>
</div>