<div class="jumbotron flora-header" style="margin-bottom:0;">
    <div class="container">
        <h2>FLORA <span class="second_name">INDONESIA</span><span class="tagline">Records of Plants of Indonesia</span></h2>            
    </div>
</div>
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {foreach $carouselIndex as $getBanner}
          {if $getBanner@first}
            <div class="item active">
          {else}
            <div class="item">
          {/if}
            <img src="{$basedomain}public_assets/banner/{$getBanner.image}" style="width: 100%;">
            <div class="carousel-caption">
              {$getBanner.$description}
            </div>
          </div>
        {/foreach}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div><!-- /.carousel -->