<div class="container flora-container">
    <div class="flora-content">
        <div class="row">
        
        <div class="col-md-8">
        <!-- LATEST NEWS -->  
            <div class="row">  
            <div class="col-md-4 latest_news">
                <a href="{$basedomain}news/view" title="Banana">
                    <img src="{$basedomain}public_assets/news/thumbs/1.JPG" alt="Banana">
                </a>
                <div class="time-ago"><a href="{$basedomain}news/view">1 hour ago</a></div>
                <a href="{$basedomain}news/view">Donec id elit non mi porta gravida at eget metus. Fusce dapibus...</a>
            </div>
            
            <div class="col-md-4 latest_news">
                <a href="{$basedomain}news/view" title="Banana">
                    <img src="{$basedomain}public_assets/news/thumbs/2.JPG" alt="Banana">
                </a>
                <div class="time-ago"><a href="{$basedomain}news/view">1 hour ago</a></div>
                <a href="{$basedomain}news/view">Donec id elit non mi porta gravida at eget metus. Fusce dapibus...</a>
            </div>
            
            <div class="col-md-4 latest_news">
                <a href="{$basedomain}news/view" title="Banana">
                    <img src="{$basedomain}public_assets/news/thumbs/3.JPG" alt="Banana">
                </a>
                <div class="time-ago"><a href="{$basedomain}news/view">1 hour ago</a></div>
                <a href="{$basedomain}news/view">Donec id elit non mi porta gravida at eget metus. Fusce dapibus...</a>
            </div>
            </div>
            <!-- END LATEST NEWS --> 
            
            <!--SEPARATOR--><hr class="flora-separator">
            
            <!-- NEWS CAROUSEL -->
            <div id="newsCarousel" class="carousel slide">
                <div class="carousel-inner">
                
                <!--.Carousel Item-->
                    <div class="item active">
                        <a href="{$basedomain}news/view"><img class="attachment-feature-home" src="{$basedomain}public_assets/news/images/1.JPG" style="width:100%;"></a>
                        <h4><a href="{$basedomain}news/view">Bootstrap Templates Are Great!</a></h4>
                        
                        <div class="carousel-caption">
                            <p>dictum nec risus. Nullam porttitor lacinia orci, sed pretium nunc mattis scelerisque. Integer magna lacus, rhoncus quis hendrerit vel, tempor ac nulla. Phasellus malesuada porta pellentesque. Ut in erat ac nulla fringilla aliquam...</p>
                        </div>
                    </div><!--/.Carousel Item-->
                    
                <!--.Carousel Item-->
                    <div class="item">
                        <a href="{$basedomain}news/view"><img class="attachment-feature-home" src="{$basedomain}public_assets/news/images/2.JPG"></a>
                        <h4><a href="{$basedomain}news/view">Droplet. A clean template using Bootstrap</a></h4>
                        
                        <div class="carousel-caption">
                            <p>dictum nec risus. Nullam porttitor lacinia orci, sed pretium nunc mattis scelerisque. Integer magna lacus, rhoncus quis hendrerit vel, tempor ac nulla. Phasellus malesuada porta pellentesque. Ut in erat ac nulla fringilla aliquam...</p>
                        </div>
                    </div><!--/.Carousel Item-->
                    
                <!--.Carousel Item-->
                    <div class="item">
                        <a href="{$basedomain}news/view"><img class="attachment-feature-home" src="{$basedomain}public_assets/news/images/3.JPG"></a>
                        <h4><a href="{$basedomain}news/view">Droplet. A clean template using Bootstrap</a></h4>
                        
                        <div class="carousel-caption">
                            <p>dictum nec risus. Nullam porttitor lacinia orci, sed pretium nunc mattis scelerisque. Integer magna lacus, rhoncus quis hendrerit vel, tempor ac nulla. Phasellus malesuada porta pellentesque. Ut in erat ac nulla fringilla aliquam...</p>
                        </div>
                    </div><!--/.Carousel Item-->
                    
                </div>
                  
                 <!--.Carousel Arrows-->
                <a class="left carousel-control" href="#newsCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#newsCarousel" data-slide="next">›</a>
                <!--/.Carousel Arrows-->
          </div> <!-- END NEWS CAROUSEL-->
          
          <!--SEPARATOR--><hr class="flora-separator">
          
          <!-- POST NEWS -->
          <div class="flora-postNews">
            <a href="{$basedomain}news/view"><h3>Integer nibh orci, elementum quis adipiscing non, tristique ut risus.</h3></a>
            <div class="meta-wrap">          
                <div class="meta pull-left">
                   <span class="dateTime"> Posted by <span class="author"><a href="#">admin</a></span>  at 11:20 am July 22, 2014</span>
                </div>
            
                <!--<div class="post-share pull-right">
                    <a href="{$basedomain}news/view#comments" class="btn flora-btn news-btn">100 COMMENTS</a>
                </div>-->
            </div>
            
            <div class="news-content">
                <div class="col-md-4" style="padding-right: 0;">
                    <a href="{$basedomain}news/view"><img class="img-responsive" src="{$basedomain}public_assets/news/images/3.JPG" style="margin-left: -15px;"></a>
                </div>
                
                
                <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit </p>
                <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit </p>
            </div>
            <a href="{$basedomain}news/view" class="btn flora-btn news-btn pull-right">Read more...</a>
            <div class="clearfix"></div>
          </div>
          <!-- END NEWS -->
          
<!--SEPARATOR--><hr class="flora-separator">
         
          <!-- POST NEWS -->
          <div class="flora-postNews">
            <a href="{$basedomain}news/view"><h3>Integer nibh orci, elementum quis adipiscing non, tristique ut risus.</h3></a>
            <div class="meta-wrap">          
                <div class="meta pull-left">
                   <span class="dateTime"> Posted by <span class="author"><a href="#">admin</a></span>  at 11:20 am July 22, 2014</span>
                </div>
            
                <!--<div class="post-share pull-right">
                    <a href="{$basedomain}news/view#comments" class="btn flora-btn news-btn">100 COMMENTS</a>
                </div>-->
            </div>
            
            <div class="news-content">
                <div class="col-md-4" style="padding-right: 0;">
                    <a href="{$basedomain}news/view"><img class="img-responsive" src="{$basedomain}public_assets/news/images/3.JPG" style="margin-left: -15px;"></a>
                </div>
                
                
                <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit </p>
                <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit </p>
            </div>
            <a href="{$basedomain}news/view" class="btn flora-btn news-btn pull-right">Read more...</a>
            <div class="clearfix"></div>
          </div>
          <!-- END NEWS -->
          
        <ul class="pagination flora-pagination">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>  
        </div>
        
<!-- SIDEBAR GOES HERE -->

        <div class="col-md-4" style="padding-left: 50px;">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header">Category</li>
                  <li class="active"><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                </ul>
            </div>      
            
            <a href="#"><img class="img-responsive" src="{$basedomain}public_assets/other/sample_banner.JPG" style="width: 100%;"></a> 
        </div>
        
        </div>
    </div>
</div>