<div class="container flora-container">
    <div class="flora-content">
        <div class="row">
        
        <div class="col-md-12">
        
        <!-- POST NEWS -->
          <div class="flora-postNews">
            <a href="{$basedomain}news/view"><h3>Integer nibh orci, elementum quis adipiscing non, tristique ut risus.</h3></a>
            <div class="meta-wrap">          
                <div class="meta pull-left">
                   <span class="dateTime"> Posted by <span class="author"><a href="#">admin</a></span>  at 11:20 am July 22, 2014</span>
                </div>
            
                <!--<div class="post-share pull-right">
                    <a href="{$basedomain}news/view#comments" class="btn flora-btn news-btn">100 COMMENTS</a>
                </div>-->
            </div>
            
            <div class="row news-content">
                <div class="col-md-4">
                    <a href="{$basedomain}news/view"><img class="img-responsive" src="{$basedomain}public_assets/news/images/3.JPG"></a>
                </div>

                <div class="col-md-8">
                    <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a href="{$basedomain}news/view" class="btn flora-btn news-btn pull-right">View more...</a>
                </div>
            </div>

          </div>
          <!-- END NEWS -->
          
<!--SEPARATOR--><hr class="flora-separator">
         
          <!-- POST NEWS -->
          <div class="flora-postNews">
            <a href="{$basedomain}news/view"><h3>Integer nibh orci, elementum quis adipiscing non, tristique ut risus.</h3></a>
            <div class="meta-wrap">          
                <div class="meta pull-left">
                   <span class="dateTime"> Posted by <span class="author"><a href="#">admin</a></span>  at 11:20 am July 22, 2014</span>
                </div>
            
                <!--<div class="post-share pull-right">
                    <a href="{$basedomain}news/view#comments" class="btn flora-btn news-btn">100 COMMENTS</a>
                </div>-->
            </div>
            
            <div class="row news-content">
                <div class="col-md-4">
                    <a href="{$basedomain}news/view"><img class="img-responsive" src="{$basedomain}public_assets/news/images/3.JPG"></a>
                </div>

                <div class="col-md-8">
                    <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a href="{$basedomain}news/view" class="btn flora-btn news-btn pull-right">View more...</a>
                </div>
            </div>

          </div>
          <!-- END NEWS -->

<!--SEPARATOR--><hr class="flora-separator">

          <!-- POST NEWS -->
          <div class="flora-postNews">
            <a href="{$basedomain}news/view"><h3>Integer nibh orci, elementum quis adipiscing non, tristique ut risus.</h3></a>
            <div class="meta-wrap">          
                <div class="meta pull-left">
                   <span class="dateTime"> Posted by <span class="author"><a href="#">admin</a></span>  at 11:20 am July 22, 2014</span>
                </div>
            
                <!--<div class="post-share pull-right">
                    <a href="{$basedomain}news/view#comments" class="btn flora-btn news-btn">100 COMMENTS</a>
                </div>-->
            </div>
            
            <div class="row news-content">
                <div class="col-md-4">
                    <a href="{$basedomain}news/view"><img class="img-responsive" src="{$basedomain}public_assets/news/images/3.JPG"></a>
                </div>

                <div class="col-md-8">
                    <p>Integer nibh orci, elementum quis adipiscing non, tristique ut risus. Cras elementum, nunc vel egestas tincidunt, magna sem tristique dolor, vel molestie enim nibh non lectus. Aliquam lacinia ipsum ut risus dapibus ullamcorper congue risus feugiat. Praesent venenatis nibh id est egestas sagittis. Maecenas euismod diam id justo tempus a volutpat velit pretium. Duis enim quam, fringilla in dignissim eu, mattis in lectus. Maecenas rutrum turpis sed elit </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a href="{$basedomain}news/view" class="btn flora-btn news-btn pull-right">View more...</a>
                </div>
            </div>

          </div>
          <!-- END NEWS -->


        <ul class="pagination flora-pagination">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
          
          
        </div>
        
        </div>
    </div>
</div>