<div class="container flora-container">
    <div class="flora-content">
        <h3>Gallery</h3>
        
        <div class="row">
            {foreach $data as $get}
            <div class="col-md-3 col-xs-6" style="margin-bottom: 10px;">
                
                <div class="flora-album">
                <a href="{$basedomain}gallery/view/?id={$get.id}" title="{$get.title}">
                    <img src="{$basedomain}public_assets/gallery/images/{$get.image}" alt="{$get.title}" class="imageClip">
                </a>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view">{$get.title}</a>
                    <p class="text-muted">{$get.countPhoto} photos</p>
                </div>
                </div>
            </div>
            {/foreach}
            {*}
            <div class="col-md-3" style="margin-bottom: 10px;">
                <div class="flora-album">
                <a href="{$basedomain}gallery/view" title="Banana">
                    <img src="{$basedomain}public_assets/gallery/thumbs/1.JPG" alt="Banana">
                </a>
                <div class="caption_album">
                    <a href="{$basedomain}gallery/view">Nama Album</a>
                    <p class="text-muted">100 photos</p>
                </div>
                </div>
            </div>
            {/*}
        </div>

    </div>
</div>