<div class="container flora-container">
    <div class="flora-content">
        <div class="row">
        <div class="col-md-8">
            <h4>Holistic Management: Misinformation on the Science of Grazed Ecosystems</h4>
            <p>Sub title if exist</p>
            <hr class="flora-separator" />
            
            <p class="ref-title_content">DESCRIPTION</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="ref-title_content">PLACES</p>
            <p>Jakarta, Indonesia</p>
        </div>
        
        <div class="col-md-4 text-center" style="margin-top: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="#">
                    <img src="{$basedomain}assets/img/pdf_default.png" class="img-responsive" style="margin-bottom: 10px;" />
                    Download (218kb)
                </a>
            </div>
            <div class="col-md-2"></div>
        </div>
        </div>
    </div>
</div>