body.default{
    background-color: #efefef;
}
.flora-separator{border: 1px solid #00ADBB;}
.navbar{
    color: rgba(255, 255, 255, 0.701961);
    background-image: url(../img/bg_noise.png);
    background-position: 0% 0%;
    background-repeat: repeat;
    -webkit-box-shadow: rgba(27, 27, 27, 0.4) 1px 1px 10px;
    box-shadow: rgba(27, 27, 27, 0.4) 1px 1px 10px;
    filter: none;
    background-color: rgb(27, 27, 27);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-bottom: 3px solid #00ADBB;
}

/* COLLAPSE NAVBAR CSS */
@media (max-width: 995px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
/* END COLLAPSE NAVBAR CSS */

/* CAROUSEL CONTROL CSS*/
.carousel-control{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 50px;
    font-weight: 100;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
/* END CAROUSEL CONTROL CSS*/

.flora-btn{
    color: #ffffff;
    background-color: #00ADBB;
    border: 1px solid #0095a2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.flora-btn:hover{
    background-color: #0095a2;
    border: 1px solid #0095a2;
}

.btn_signup{
    margin-right: 0;
    border-radius: 4px 0 0 4px;
}

.btn_login{
    margin-left: -4px;
    border-radius: 0 4px 4px 0;
}

.flora-navbar{
    margin-top: 80px;
}

.flora-header{
    padding: 1px 0 100px 0;
    background-color: #ffffff;
    border-top: 3px solid #00ADBB;
    border-bottom: 1px solid #d9d9d9;
}

.flora-header h2, .flora-header span{font-weight: bold;font-size: 2.9vw;}

.flora-header span.second_name{
    color: #00ADBB;
    padding-right: 10px;
    border-right: 1px solid #AAAAAA;}

.flora-header span.tagline{
    color: #AAAAAA;
    margin-top:30px;
    font-size: 13px;
    font-weight: normal;
    margin-left: 25px;
}

.flora-header h2{font-size: 2.9vw;}

.flora-content{
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 #DEDEDE;
    box-shadow: 0 0 5px 0 #DEDEDE;
}

.flora-content h3{
    color: #00ADBB;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.flora-content h5{
    color: #3A3A3A;
    font-weight: bold;
}

.flora-container{
    min-height: 280px;
    max-width: 1000px;
}

.flora-table thead{background-color: #00ADBB;color: #FFF;}
.flora-table tbody tr td img{margin-bottom: 10px;}
.flora-table tbody tr:hover td, .flora-table tbody tr:hover th {
  background-color: #E4EFF0;
}

/* CURVE TABLE */
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 3px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 3px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 3px 0 0;
}
.table-curved th:only-child{
    border-radius: 3px 3px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}
/* END CURVE TABLE */

/* CENTER SEARCH CSS */

   .global-search {
    text-align:center;
    padding:10px;
  }
   .global-search * {
    display:inline-block;
    margin-bottom:0;
  }

   .global-search .form-control {
      width:120px;
  }

   .global-search a {
    display:block;
    padding-top:10px;
  }

@media (min-width:400px){
   .global-search {
    padding: 20px 0;
    text-align:center;
    }

   .global-search .form-control {
    width:300px;
   }

}

/* END CENTER SEARCH CSS */
.flora-tabs h3{
    color: #00ADBB;
    font-style: italic;
    margin-top: 0;
}

.flora-tabs ul{border:none;}
.flora-tabs li{margin-left:-1px;}
.flora-tabs li a{color: #00ADBB;}
.flora-tabs li a{
    background-color: #00ADBB;
    border:1px solid #0095a2;
    border-bottom: none;
    color:#FFF;
}
.flora-tabs li a:hover{
    background-color: #0095a2;
    border:1px solid #0095a2;
    border-bottom: none;
    color:#FFF;
}

.label_detail{
    font-weight: bold;
    font-variant: small-caps;
    font-size: 17px;
}

.ref-title_content{
    font-weight: bold;
    margin-bottom: 0;
}

/* NEWS CSS */
.time-ago{
    line-height: 20px;
    margin-top: -20px;
    padding: 0 10px;
    position: absolute;
    z-index: 10;
    background: none repeat scroll 0 0 #00ADBB;
}
.time-ago a{color: #FFFFFF;}
.latest_news a{font-size: 13px;}

#newsCarousel .carousel-caption{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 15px 5px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}

#newsCarousel .carousel-caption p{font-size: 13px;}

#newsCarousel .item h4 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
}

#newsCarousel .item a{color: #FFF;}
#newsCarousel, #newsCarousel .item{height: 250px;}

.flora-postNews h3{
    color: #333; 
    border:none;
    font-weight: bold;
    margin-bottom: 5px;
}
.flora-postNews a:hover{text-decoration: none;}
.meta-wrap {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.dateTime {font-size: 11px;}
.news-btn{
    padding: 4px 6px;
    font-size: 12px;
}
.news-content p{text-align: justify;}

.flora-pagination li.active a{background-color: #00ADBB;}
.flora-pagination li a{border:1px solid #0095a2}
.flora-pagination li.disabled a{border-color: #0095a2 !important}
.flora-pagination li a:hover{border:1px solid #0095a2}
/* END NEWS CSS*/

/* GALLERY CSS*/
.flora-album{
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.flora-album img{
    width: 100%;
}

.caption_album{padding-top: 5px;}

.caption_album p{margin:0}

.flora-gallery{
    margin: 0 3px 10px 3px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
/* END GALLERY CSS*/

@media (max-width:300px){
    .flora-gallery, .latest_news img{
        width: 90%;
    }
}

.footer {
    width: 100%;
    padding: 15px 0;
    margin-top: 15px;
    background-color: #333333;
    border-top: 3px solid #00ADBB;
}

.footer p{margin:0;}