<div class="container flora-container">
    <div class="flora-content">
        
        <table id="dataLocation" class="table table-striped table-bordered flora-table table-curved" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <!--<th>Long,Lat</th>-->
                    <th>Provinsi</th>
                    <th>Pulau</th>
                    <th>Negara</th>
                    <th>Elevation</th>
                    <th>Lokalitas</th>
                    <th>Daerah</th>
                    <th>Aksi</th>
                </tr>
            </thead>
     
            <tbody>
                <tr>
                    <!--<th>Long,Lat</th>-->
                    <th>Provinsi</th>
                    <th>Pulau</th>
                    <th>Negara</th>
                    <th>Elevation</th>
                    <th>Lokalitas</th>
                    <th>Daerah</th>
                    <th>Aksi</th>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>