<div class="container flora-container">
    <div class="flora-tabs">
        <!--<h3>Species Name</h3>-->
        <ul class="nav nav-tabs" role="tablist" id="indivDetail-tabs">
          <li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
          <li><a href="#img" role="tab" data-toggle="tab">Images</a></li>
        </ul>
    </div>
    
    
    
    <div class="tab-content">
      <div class="tab-pane active" id="overview">
        <div class="flora-content">
            <div class="row">
                {foreach $indiv as $getIndiv}
                <div class="col-md-4">
                    <h3>Overview</h3>
                    
                    <p class="label_detail" style="margin: 0 0 0;">Creator</p>
                    <p>{$getIndiv->name}</p>
                    
                    <p class="label_detail" style="margin: 0 0 0;">Plot</p>
                    <p>{$getIndiv->plot}</p>
                    
                    <p class="label_detail" style="margin: 0 0 0;">Tag</p>
                    <p>{$getIndiv->tag}</p>
                </div>
                <div class="col-md-6">
                    <h3>Notes</h3>
                    <!--<div class="row">
                        <div class="col-md-2"><p class="label_detail">Longitude</p></div>
                        <div class="col-md-10"><p>{$getIndiv->longitude}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Latitude</p></div>
                        <div class="col-md-10"><p>{$getIndiv->latitude}</p></div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Elevation</p></div>
                       <div class="col-md-10"><div itemscope itemtype ="http://rs.tdwg.org/dwc/terms/verbatimElevation"><p itemprop="verbatimElevation">{$getIndiv->elev}</p></div></div>
                    </div>
<!--Microdata Elevation didapatkan dari Darwin Core yang tipenya beralamat di URL http://rs.tdwg.org/dwc/terms/verbatimElevation. Microdata ini memiliki property/nama "verbatimElevation". Elevation adalah ketinggian rata-rata suatu tanaman berada. Contoh penulisan Elevation misalnya "100-200m".-->

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Geomorph</p></div>
                        <div class="col-md-10"><p>{$getIndiv->geomorph}</p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Locality</p></div>
                        <div class="col-md-10"><div itemscope itemtype ="http://rs.tdwg.org/dwc/terms/locality"><p itemprop="locality">{$getIndiv->locality}</p></div></div>
                    </div>
<!--Microdata Locality didapatkan dari Darwin Core yang tipenya beralamat di URL http://rs.tdwg.org/dwc/terms/locality. Microdata ini memiliki property/nama "locality". Locality adalah lokasi spesifik habitat suatu tanaman. Contoh penulisan Locality misalnya "Singkawang, 145 km utara Pontianak, Kalimantan Barat".-->

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">County</p></div>
      <div class="col-md-10"><div itemscope itemtype ="http://rs.tdwg.org/dwc/terms/county"><p itemprop="county">{$getIndiv->county}</p></div></div>
                    </div>
<!--Microdata County didapatkan dari Darwin Core yang tipenya beralamat di URL http://rs.tdwg.org/dwc/terms/county. Microdata ini memiliki property/nama "county". County adalah letak Kabupaten tempat habitat suatu tanaman. Kabupaten adalah wilayah administratif yang ruang lingkupnya lebih kecil dari Provinsi. Contoh penulisan County misalnya "Pontianak".-->

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Province</p></div>
                        <div class="col-md-10"><div itemscope itemtype ="http://rs.tdwg.org/dwc/terms/stateProvince"><p itemprop="stateProvince">{$getIndiv->province}</p></div></div>
                    </div>
<!--Microdata Province didapatkan dari Darwin Core yang tipenya beralamat di URL http://rs.tdwg.org/dwc/terms/stateProvince. Microdata ini memiliki property/nama "stateProvince". Province adalah letak Provinsi tempat habitat suatu tanaman. Contoh penulisan Province misalnya "Kalimantan Barat".-->

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Island</p></div>
        <div class="col-md-10"><div itemscope itemtype ="http://rs.tdwg.org/dwc/terms/island"><p itemprop="island">{$getIndiv->island}</p></div></div>
                    </div>
<!--Microdata Island didapatkan dari Darwin Core yang tipenya beralamat di URL http://rs.tdwg.org/dwc/terms/island. Microdata ini memiliki property/nama "island". Island adalah nama pulau tempat habitat suatu tanaman. Contoh penulisan Island misalnya "Kalimantan".-->

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Country</p></div>
            <div class="col-md-10"><div itemscope itemtype ="http://rs.tdwg.org/dwc/terms/country"><p itemprop="country">{$getIndiv->country}</p></div></div>
                    </div>
<!--Microdata Country didapatkan dari Darwin Core yang tipenya beralamat di URL http://rs.tdwg.org/dwc/terms/country. Microdata ini memiliki property/nama "country". Country adalah letak Negara tempat habitat suatu tanaman. Contoh penulisan Country misalnya "Indonesia".-->

                    {foreach $obs as $getObs}
                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Date</p></div>
                        <div class="col-md-10"><p>{$getObs->date}</p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Microhab</p></div>
                        <div class="col-md-10"><p>{$getObs->microhab}</p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Habit</p></div>
                        <div class="col-md-10"><p>{$getObs->habit}</p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">dbh</p></div>
                        <div class="col-md-10"><p>{$getObs->dbh}</p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Height</p></div>
                        <div class="col-md-10"><p>{$getObs->height}</p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Bud</p></div>
  <div class="col-md-10"><p><span class="glyphicon glyphicon-{if $getObs->bud=='yes'}ok{else}remove{/if}"></span></p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Flower</p></div>
                        <div class="col-md-10"><p><span class="glyphicon glyphicon-{if $getObs->flower=='yes'}ok{else}remove{/if}"></span></p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Fruit</p></div>
                        <div class="col-md-10"><p><span class="glyphicon glyphicon-{if $getObs->fruit=='yes'}ok{else}remove{/if}"></span></p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Localname</p></div>
                        <div class="col-md-10"><p>{$getObs->localname}</p></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><p class="label_detail">Notes</p></div>
                        <div class="col-md-10"><div itemscope itemtype ="http://rs.tdwg.org/dwc/terms/fieldNotes"><p itemprop="fieldNotes">{$getObs->notes}</p></div></div>
                    </div>
<!--Microdata Field Notes (catatan) didapatkan dari Darwin Core yang tipenya beralamat di URL http://rs.tdwg.org/dwc/terms/fieldNotes. Microdata ini memiliki property/nama "fieldNotes". Field Notes adalah indikator keberadaan atau referensi terkait dengan suatu tanaman. Contoh penulisan Field Notes misalnya "Catatan tersedia di pustaka/library Grinnell-Miller".-->

                    {/foreach}
                </div>

                <div class="col-md-2">
                    <h3>QR Code</h3>
                    <div class="row">
      <a type="button" class="button" href="<?php echo $CONFIG['default']['base_url']?>browse/qrcode/?id={$indivID}"><button>Generate QR Code</button></a>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
      </div><!-- END TAB OVERVIEW-->
      
      <div class="tab-pane" id="img">
        <div class="flora-content">
            <div id="links">
                {foreach $img as $getImg}
            <a href="{$peerkalbar_domain}public_assets/img/500px/{$getImg->md5sum}.500px.jpg" title="{$getImg->plantpart}" data-gallery>
                  <img src="{$peerkalbar_domain}public_assets/img/100px/{$getImg->md5sum}.100px.jpg" class="flora-gallery">
                </a>
                {/foreach}
            </div>
        </div>
      </div><!-- END TAB IMG-->
      
    </div>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>

    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>